extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action='/register', method='POST')
        p Please enter your email to view your dashboard
        label(for='email') Email:
        input(type='email', id='email', name='email', placeholder='Enter your email', required)
        input(type='submit', value='Next')