extends layout

block content
    h1= title
    p Welcome to #{title}
    p Click #[a(href="/auth/dashboard") here] to get logged in and view your dashboard
    p Click #[a(href="/auth/add-user") here] to get registered